<div class="main">
  <div class="row marketing">
    <form>
      <input type="text" ng-model="searchTerm" />
      <button style="visibility: hidden" ng-click="search()"></button>
    </form>
  </div>

  <div class="jumbotron">
    <nvd3 options="options" config="config" data="data"></nvd3>
  </div>
</div>
